<footer class="footer" role="contentinfo">
  <div class="footer__content container">
    <a href="/" class="footer__link-logo">
      <img
        src="/assets/images/vector/logo.svg"
        width="238"
        height="65"
        alt="Логотип компании"
        loading="lazy"
      />
    </a>
    <div class="footer__copyright">
      <small>Copyright © 2022 HEALAS.LT. All Rights Reserved.</small>
    </div>
    <div class="footer__social">
      <a
        class="footer__link-social"
        href="#"
        aria-label="Facebook"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg width="10" height="20" focusable="false">
          <use href="/assets/images/vector/facebook-icon.svg#facebook-icon" />
        </svg>
      </a>
      <a
        class="footer__link-social"
        href="#"
        aria-label="Twitter"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg width="20" height="16" focusable="false">
          <use href="/assets/images/vector/twitter-icon.svg#twitter-icon" />
        </svg>
      </a>
      <a
        class="footer__link-social"
        href="#"
        aria-label="Instagram"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg width="20" height="20" focusable="false">
          <use href="/assets/images/vector/instagram-icon.svg#instagram-icon" />
        </svg>
      </a>
    </div>
  </div>
</footer>
