@use '../../../../styles/variables' as variables;

.link {
  text-decoration: none;
  font-family: variables.$font-family-primary;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;

  &--text {
    color: variables.$link-text;
  }

  &--button {
    display: block;
    border-radius: 25px;
    padding: 13px 0;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(
        to right,
        variables.$ocean-blue,
        variables.$ocean-blue,
        variables.$lavender) right  / 200% auto;
    transition: background-position 0.5s ease;

    &:hover {
    background-position: left;
    }
  }
}
