// ==== COLORS ==== //

$white: rgb(255, 255, 255);
$dark-indigo: rgb(53, 80, 112);
$plum: rgb(109, 89, 122);
$rose-taupe: rgb(181, 101, 118);
$coral-red: rgb(229, 107, 111);
$peach: rgb(234, 172, 139);
$blue-gray: rgb(68, 99, 129);
$ocean-blue: rgb(68, 153, 217);
$lavender: rgb(115, 103, 190);
$apricot: rgb(235, 131, 130);

/* link */
$link-text: $blue-gray;
$link-text-active: $apricot;
$link-button: $white;

/* title */
$title-text: $blue-gray;

// ==== TYPOGRAPHY ==== //

$font-family-primary: "Josefin", sans-serif;
