@use '../../../styles/variables' as variables;

.about-platforms {
  padding: 67px 0 92px;
  background-image: url("/assets/images/raster/about-platforms-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;

    @media (width <= 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__subtitle {
    max-width: 100%;
  }

  &__link {
    display: block;
    max-width: 207px;
    width: 100%;
  }

  @media (width <= 768px) {
    padding: 50px 0;
  }
}
