@use '../../../styles/variables' as variables;

.about-platforms {
  padding: 67px 0 92px;
  background-image: url('/assets/images/raster/about-platforms-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;

    @media (width <= 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__wrapper {
    &-decorations {
      position: relative;

      @media (width <= 768px) {
        max-width: 400px;
        width: 100%;
        align-self: center;
        order: -1;
      }
    }
  }

  &__subtitle {
    max-width: 100%;
  }

  &__link {
    display: block;
    max-width: 207px;
    width: 100%;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;

    &--gamepad {
      position: absolute;
      bottom: 0;
      left: 0;
      animation: flying 3.3s linear infinite;

      @media (width <= 824px) {
        bottom: 15%;
      }

      @media (width <= 768px) {
        bottom: 0;
      }
    }

    &--gear-big,
    &--gear-small {
      position: absolute;
      animation: rotation 6.5s infinite linear reverse;
    }

    &--gear-big {
      top: 10%;
      right: 15%;

      @media (width <= 1140px) {
        width: 26%;
      }

      @media (width <= 1069px) {
        right: 12%;
      }

      @media (width <= 768px) {
        width: 26%;
        top: 3%;
      }
    }

    &--gear-small {
      top: 20%;
      right: 40%;

      @media (width <= 1140px) {
        width: 18%;
      }

      @media (width <= 768px) {
        width: 18%;
        top: 17%;
      }
    }
  }

  @media (width <= 768px) {
    padding: 50px 0;
  }
}
