@use '../../../styles/variables' as variables;

.header-main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 20px;
  z-index: 10;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (width <= 960px) {
      gap: 25px;
    }
  }

  &__link {
    text-decoration: none;

    &--logo {
      display: block;
      max-width: 287px;
      width: 100%;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &--button {
      display: block;
      width: 180px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    margin-left: auto;

    @media (width <= 960px) {
      flex-direction: column;
      margin: 0;
    }
  }

  &__list {
    &-nav {
      display: flex;

      li:first-child, li:last-child {
        margin-right: 55px;
      }

      li:not(:first-child):not(:last-child) {
        margin-right: 40px;
      }

      @media (width <= 960px) {
        flex-direction: column;

        li:first-child, li:last-child {
          margin-right: 0;
        }

        li {
          margin-bottom: 50px;
        }
      }
    }
  }

  &__wrapper {
    &-nav {
      display: flex;
      border-radius: 35% 0 0 35%;
      transition: width 1s ease, transform 1s ease, border-radius 1s ease;

      @media (width <= 960px) {
        position: absolute;
        top: 0;
        right: 0;
        width: 50vw;
        height: 100vh;
        background-color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
      }

      @media (width <= 768px) {
        width: 100%;
      }

      &--open {
        transform: translateX(0);
        border-radius: 0;
      }
    }
  }

  &__burger {
    position: relative;
    display: none;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 20px;
    padding: 0;
    cursor: pointer;

    &::before, &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: brown;
      transition: transform 0.3s ease;
    }

    &::before {
      top: 0;
      left: 0;
    }

    &::after {
      bottom: 0;
      left: 0;

    }

    &-line {
      display: block;
      width: 100%;
      height: 2px;
      background-color: brown;
      transition: transform 0.3s ease;
    }

    &-open {
      &::before {
        top: 50%;
        transform: rotate(45deg);
        left: 0;
      }

      &::after {
        top: 50%;
        left: 0;
        transform: rotate(-45deg);
      }

      .header-main__burger-line {
        transform: scale(0);
        transition: transform 0s ease;
      }
    }

    @media (width <= 960px) {
      display: block;
    }
  }
}
