@use '../../../styles/variables' as variables;

.header-main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 0 70px;
  z-index: 10;

  &__content {
    display: flex;
    align-items: center;
  }

  &__link {
    text-decoration: none;

    &--logo {
      display: block;

      img {
        display: block;
      }
    }

    &--button {
      display: block;
      width: 180px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__list {
    &-nav {
      display: flex;

      li:first-child, li:last-child {
        margin-right: 55px;
      }

      li:not(:first-child):not(:last-child) {
        margin-right: 40px;
      }
    }
  }
}
