@use './styles/variables' as variables;
@use './styles/fonts';

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: variables.$font-family-primary;
  font-style: normal;
  font-weight: 400;
}

.container {
  max-width: 1199px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  color: variables.$title-text;
  font-size: 23px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 26px;
}

.section-subtitle {
  color: variables.$subtitle-text-main;
  font-weight: 700;
  text-align: left;
  font-size: clamp(30px, 5.5vw, 68px);
  max-width: 460px;
  width: 100%;
  line-height: 110%;
  margin-bottom: 31px;

  span {
    color: variables.$subtitle-text-accent;
  }

  @media (width <= 768px) {
    max-width: 100%;
  }
}

.section-text {
  max-width: 518px;
  width: 100%;
  color: variables.$lavender-gray;
  font-size: 18px;
  line-height: 29px;
  text-align: left;
  margin-bottom: 29px;

  @media (width <= 768px) {
    max-width: 100%;
  }
}

.no-scroll {
  overflow: hidden;
}

@keyframes flying {
  0%,
  100% {
    transform: scale(0.87) translateY(0);
  }

  50% {
    transform: scale(0.87) translateY(5%);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}
