<section class="hero">
  <div class="hero__content container">
    <div class="hero__wrapper-info">
      <h2 class="hero__title section-title">Gaming Consoles</h2>
      <p class="hero__subtitle section-subtitle">Try It, Rent It, <span>Save $50!</span></p>
      <p class="hero__text">It is a long established fact that a reader will be distracted by the readable content of a page when looking
        at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters as
        opposed.</p>
    </div>
    @for (link of LINKS_DATA.button; track link) {
      <app-link [link]="link"/>
    }
  </div>
</section>
