<section class="hero">
  <div class="hero__content container">
    <div class="hero__wrapper-info">
      <h2 class="hero__title section-title">Gaming Consoles</h2>
      <p class="hero__subtitle section-subtitle">Try It, Rent It, <span>Save $50!</span></p>
      <p class="hero__text section-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking
        at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters as
        opposed.</p>
      @for (link of LINKS_DATA.button; track link.text) {
        <app-link class="hero__link" [link]="link"/>
      }
      <div class="hero__decoration" role="presentation">
        <img src="/assets/images/vector/hero-cross.svg" width="118" height="118" alt="">
      </div>
    </div>
    <div class="hero__wrapper-offers">
      <div class="hero__wrapper-image">
        <img src="/assets/images/raster/hero-circle.png" width="519" height="469" alt="">
        <img class="hero__image-character" src="/assets/images/raster/hero-character.png" width="543" height="585" alt="">
        <img class="hero__image-rays" src="/assets/images/raster/hero-rays.png" width="473" height="123" alt="">
        <div class="hero__offer hero__offer--vr">
          <img src="/assets/images/raster/hero-offer-vr.png" width="252" height="135" alt="Sony VR Wireless Controller">
        </div>
        <div class="hero__offer hero__offer--dualshock">
          <img src="/assets/images/raster/hero-offer-dualshock.png" width="252" height="135" alt="Sony Dualshock 4 Wireless Controller">
        </div>
      </div>
    </div>
  </div>
</section>
