@use '../../../styles/variables' as variables;

.hero {
  padding: 237px 0 92px;
  background-image: url("/assets/images/raster/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__title {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 26px;
    width: max-content;

    &::before, &::after {
      content: "";
      display: block;
      width: 50px;
      height: 29px;
      background-image: url("/assets/images/raster/hero-arrows.png");
    }

    &::before {
      order: 1;
    }

    &::after {
      order: 2;
    }
  }

  &__subtitle {
    max-width: 460px;
    width: 100%;
    margin-bottom: 31px;
  }
}
